.mainContainer{
    background-color: rgb(242, 242, 242);
    min-height: 100vw;


}
.SecondMainContainer{

    margin: auto;
    background-color: white;

}

.description{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-top: -3rem;
    .div{
        background-color: white;
        width: 100%;
        border-radius: 5px;
        box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);
        padding: 0.75rem;
        
    }

}
@media only screen and (min-width: 600px) {

    .SecondMainContainer{
    
        max-width: 75%;
  
    
        header{

            div{
    
                h1{
                    font-size: 4.5rem; 
                }
            }
        }
    }
    
    .description{
    
        width: 60%;
  
        .div{
    
   
            main{
                div{
                 
    
                    .menuCard{
                     
    
                        div{
                          
                            h3{
                                font-weight: bold;
                                font-size:1.25rem;
                                margin: auto;
                            }                    
                        }
                    }
                }
            }
        }
    
    }
  }