.mainContainer{
    background-color: rgb(242, 242, 242);
    min-height: 100vw;
}
.mainContent{
    max-width: 75%;
    margin: auto;
    background-color: white;
}
.divContainer{
    border-top: 1px solid #dcd1d1;
    height: 100%;

    .divContent{
      padding: 2.25rem;
      margin: auto;
      width: 60%;


    }

}




