.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem 1rem;

    a{
        font-weight: 600;
        color: gray;
        font-size: 1.5rem;
        text-decoration: none;

    }
    div{
        display: flex;
    }
    div{
        display: flex;
        justify-content: space-between;
        width: 11rem;
        button{
            background-color:  rgb(15,31,71);;
            width: 5rem;
            color: white;
            border: 1px;
            border-radius: 5px;
            padding: 0.25rem;
            padding: 1rem 0.5rem;
            cursor: pointer;
        }
        .SingUpButton{
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            padding: 0.25rem;
            padding: 0px 1rem;
            color: black;
            cursor: pointer;
        }
    }


}
@media only screen and (min-width: 600px) {
.nav{
    a{
        font-size: 2rem;
    }
}
  }